.nav-bar{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color:#fff;
    margin:15px 10px 10px 10px;
    border: 1px solid #fff;
    box-shadow: 3px 2px 3px 2px grey;
}

h4{
    font-size:1.2rem;
}

h4:hover{
    color:red;
    background-color:#fff;
}